<!--V 'ERRORS:*'--><!--/V-->
<!--B 'ERRORS:*'-->
	<font size="-1">
	<!--V 'error_header'--><b>Errors occured</b><!--/V--><br>
	<!--V 'ERRORS'--><!--/V-->
	<!--B 'ERRORMESSAGE:*'--><!--V 'ERRORMESSAGE'--><!--/V--><br /><!--/B-->
	</font>
	<br />
<!--/B-->
<!--B 'MARK:ERROR'--> style="color: red; font-weight: bold;"<!--/B-->
<!--B 'UNEXPECTED:sessioncreation'-->An unexpected error occurred which prevented the session from being started.<!--/B-->
<!--B 'INVALID:credentials'-->The login and password you provided are not valid.<!--/B-->
<!--B 'MANDATORY:login'-->The login has to be provided.<!--/B-->
<!--B 'WRONGLENGTH:login'-->The login is not long enough.<!--/B-->
<!--B 'MANDATORY:password'-->The password has to be provided.<!--/B-->
<!--B 'WRONGLENGTH:password'-->The password is not long enough.<!--/B-->
