<!--V 'INPUT:firstname'/-->, <!--BV 'value1'--><!--V 'INPUT:lastname'/--><!--/BV--><!--V 'value1'/-->
<input type="checkbox" name="wantsupdates"<!--V 'INPUT:wantsupdates:CHECKED'--><!--/V-->> I want updates<br />
<input type="checkbox" name="colors" value="orange"<!--V 'INPUT:colors:orange:CHECKED'--><!--/V-->>orange<br />
<input type="checkbox" name="colors" value="blue"<!--V 'INPUT:colors:blue:CHECKED'--><!--/V-->>blue<br />
<input type="checkbox" name="colors" value="red"<!--V 'INPUT:colors:red:CHECKED'--><!--/V-->>red<br />
<input type="radio" name="firstname"<!--V 'INPUT:firstname:Geert:CHECKED'--><!--/V-->> Geert
<input type="radio" name="firstname"<!--BV 'value2'--><!--V 'INPUT:firstname:Nathalie:CHECKED'--><!--/V--><!--/BV--><!--V 'value2'/-->> Nathalie
<select name="lastname">
	<option value="Bevin"<!--V 'INPUT:lastname:Bevin:SELECTED'--><!--/V-->>Bevin</option>
	<option value="Mafessoni"<!--BV 'value3'--><!--V 'INPUT:lastname:Mafessoni:SELECTED'--><!--/V--><!--/BV--><!--V 'value3'/-->>Mafessoni</option>
</select>
