<!--B 'NAV:FIRSTRANGE'--><a href="[!V 'EXIT:QUERY:changemyoff'/]">first</a><!--/B-->
<!--B 'NAV:FIRSTRANGE:DISABLED'-->first<!--/B-->
<!--B 'NAV:PREVIOUSRANGE'--><a href="[!V 'EXIT:QUERY:changemyoff'/]">prev</a><!--/B-->
<!--B 'NAV:PREVIOUSRANGE:DISABLED'-->prev<!--/B-->
<!--B 'NAV:ABSOLUTERANGE'--> <a href="[!V 'EXIT:QUERY:changemyoff'/]"><!--V 'ABSOLUTERANGE_TEXT'/--></a> <!--/B-->
<!--B 'NAV:ABSOLUTERANGE:DISABLED'--> <!--V 'ABSOLUTERANGE_TEXT'/--> <!--/B-->
<!--B 'NAV:NEXTRANGE'--><a href="[!V 'EXIT:QUERY:changemyoff'/]">next</a><!--/B-->
<!--B 'NAV:NEXTRANGE:DISABLED'-->next<!--/B-->
<!--B 'NAV:LASTRANGE'--><a href="[!V 'EXIT:QUERY:changemyoff'/]">last</a><!--/B-->
<!--B 'NAV:LASTRANGE:DISABLED'-->last<!--/B-->
<!--B 'content'--><!--V 'offset'/--> : Pages: <!--V 'NAV:RANGECOUNT'/--> ( <!--V 'NAV:FIRSTRANGE'/--> <!--V 'NAV:PREVIOUSRANGE'/--> <!--V 'NAV:NEXTRANGE'/--> <!--V 'NAV:LASTRANGE'/--> | <!--V 'NAV:ABSOLUTERANGES'/--> )<!--/B-->