<!--V 'ERRORS:*'--><!--/V-->
<!--V 'ERRORS:login'--><!--/V-->
<!--V 'ERRORS:anotherlogin'--><!--/V-->
<!--V 'ERRORS:login,anotherlogin'--><!--/V-->
<!--V 'ERRORS:anotherlogin,password'--><!--/V-->
<!--V 'ERRORS:anotherpassword,customquestion,anothercustomquestion'--><!--/V-->
<!--V 'ERRORS:customquestion,anothercustomquestion,options'--><!--/V-->
<!--V 'ERRORS:options'--><!--/V-->
<!--V 'ERRORS:colors'--><!--/V-->
<!--V 'ERRORS:otheroptions'--><!--/V-->
<!--B 'ERRORMESSAGE:*'--><p><!--V 'ERRORMESSAGE'/--></p><!--/B-->
<!--B 'ERROR:hidden'-->error hidden<!--/B-->
<!--B 'WRONGLENGTH:anotherhidden'-->wrong length another hidden<!--/B-->
<!--B 'MANDATORY:login'-->mandatory login<!--/B-->
<!--B 'ERROR:anotherlogin'-->error another login<!--/B-->
<!--B 'ERROR:password'-->error password<!--/B-->
<!--B 'ERROR:anotherpassword'-->error another password<!--/B-->
<!--B 'MANDATORY:customquestion'-->mandatory customquestion<!--/B-->
<!--B 'ERROR:customquestion'-->error customquestion<!--/B-->
<!--B 'MANDATORY:anothercustomquestion'-->mandatory anothercustomquestion<!--/B-->
<!--B 'MANDATORY:otheroptions'-->mandatory otheroptions<!--/B-->
<!--B 'ERROR:othercustomoptions'-->error othercustomoptions<!--/B-->
<!--B 'ERROR:morecolors'-->error morecolors<!--/B-->
<!--B 'ERRORS:'--><div><!--V 'ERRORS'/--></div><!--/B-->
