<!--V 'ERRORS:*'--><!--/V-->
<!--B 'ERROR:prefix_hidden'-->error hidden<br />
<!--/B--><!--B 'WRONGLENGTH:prefix_anotherhidden'-->wrong length another hidden<br />
<!--/B--><!--B 'MANDATORY:prefix_login'-->mandatory login<br />
<!--/B--><!--B 'ERROR:prefix_anotherlogin'-->error another login<br />
<!--/B--><!--B 'WRONGLENGTH:prefix_password'-->wrong length password<br />
<!--/B--><!--B 'ERROR:prefix_password'-->error password<br />
<!--/B--><!--B 'ERROR:prefix_anotherpassword'-->error another password<br />
<!--/B--><!--B 'MANDATORY:prefix_customquestion'-->mandatory customquestion<br />
<!--/B--><!--B 'ERROR:prefix_customquestion'-->error customquestion<br />
<!--/B--><!--B 'MANDATORY:prefix_anothercustomquestion'-->mandatory anothercustomquestion<br />
<!--/B--><!--B 'MANDATORY:prefix_otheroptions'-->mandatory otheroptions<br />
<!--/B--><!--B 'ERROR:prefix_othercustomoptions'-->error othercustomoptions<br />
<!--/B--><!--B 'INVALID:prefix_colors'-->invalid colors<br />
<!--/B--><!--B 'ERROR:prefix_morecolors'-->error morecolors<br />
<!--/B-->
