<!--V 'ERRORS:*'--><!--/V-->
<!--B 'ERRORMESSAGE:*'--><!--V 'ERRORMESSAGE'/--><br />
<!--/B-->
<!--B 'ERRORMESSAGE:prefix_login,prefix_customquestion,prefix_colors'--><p><!--V 'ERRORMESSAGE'/--></p>
<!--/B-->
<!--B 'ERRORMESSAGE:prefix_anotherlogin,prefix_colors'--><div><!--V 'ERRORMESSAGE'/--></div>
<!--/B-->
<!--B 'ERROR:prefix_hidden'-->error hidden<!--/B-->
<!--B 'WRONGLENGTH:prefix_anotherhidden'-->wrong length another hidden<!--/B-->
<!--B 'MANDATORY:prefix_login'-->mandatory login<!--/B-->
<!--B 'ERROR:prefix_anotherlogin'-->error another login<!--/B-->
<!--B 'WRONGLENGTH:prefix_password'-->wrong length password<!--/B-->
<!--B 'ERROR:prefix_password'-->error password<!--/B-->
<!--B 'ERROR:prefix_anotherpassword'-->error another password<!--/B-->
<!--B 'MANDATORY:prefix_customquestion'-->mandatory customquestion<!--/B-->
<!--B 'ERROR:prefix_customquestion'-->error customquestion<!--/B-->
<!--B 'MANDATORY:prefix_anothercustomquestion'-->mandatory anothercustomquestion<!--/B-->
<!--B 'MANDATORY:prefix_otheroptions'-->mandatory otheroptions<!--/B-->
<!--B 'ERROR:prefix_othercustomoptions'-->error othercustomoptions<!--/B-->
<!--B 'INVALID:prefix_colors'-->invalid colors<!--/B-->
<!--B 'ERROR:prefix_morecolors'-->error morecolors<!--/B-->
