<html>
	<head>
		<title>Template with value tags that will be filtered</title>
	</head>

	<body>
		<!--V 'FILTER1:VALUE1a:CONST:VALUE1b'-->default1<!--/V-->
		<h1>This is a template with value tags that will be filtered.</h1>
		<!--V 'FILTER1:VALUE2a:CONST:VALUE2b'-->default2<!--/V-->
		<!--V 'FILTER1:VALUE3a:CONST:VALUE3b'/-->
		<!--V 'FILTER2:VALUE1'/--><!--V 'FILTER2:VALUE2'-->default3<!--/V-->
		<!--V 'CONST-FILTER3:VALUE1'-->default4<!--/V--><!--V 'CONST-FILTER3:VALUE2'/-->
	</body>
</html>
