<!--BV 'window_title'-->RIFE Crud - Samples - Admin - Regular bean (custom)<!--/BV-->
<!--BV 'page_title'-->Pick a menu item to perform an action<!--/BV-->

<!--I 'custom.html.blueprint_custom'/-->

<!--BV 'menu_area'--><!--V 'ELEMENT:MENU'/--><!--/BV-->

<!--BV 'crud_content'-->
	<h3>This is a custom homepage.</h3>
	<p>This is merely a test of a regular unconstrained bean.</p>
	
	<div class="context_buttons">
		<form action="[!V 'EXIT:FORM:crud-com.uwyn.rife.crud.samples.beans.Regular-browse'/]" method="get"><!--V 'EXIT:PARAMS:crud-com.uwyn.rife.crud.samples.beans.Regular-browse'/--><input name="submit" type="submit" value="[!V 'L10N:button_label-browse']button_label-browse[!/V]" /></form>&nbsp;
		<form action="[!V 'EXIT:FORM:crud-com.uwyn.rife.crud.samples.beans.Regular-add'/]" method="get"><!--V 'EXIT:PARAMS:crud-com.uwyn.rife.crud.samples.beans.Regular-add'/--><input name="submit" type="submit" value="[!V 'L10N:button_label-add']button_label-add[!/V]" /></form>
	</div>
<!--/BV-->

<!--BV 'document_attributes'--> onload="document.forms[0].submit.focus();"<!--/BV-->

