<r:i name="blueprint"/>

<r:bv name="title">Home</r:bv>
<r:bv name="content">
	<h3>Home</h3>
	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Duis eget purus. Phasellus aliquam blandit tellus. Sed vestibulum lectus. Maecenas non metus. Quisque vitae velit. Fusce ligula nulla, eleifend eget, venenatis id, sodales id, mi. Maecenas cursus lectus sed erat. Fusce congue vulputate felis. Praesent lobortis. Fusce malesuada eros sit amet massa. Fusce tempor tempor augue. Aenean risus ipsum, luctus sed, eleifend quis, mattis a, neque. Ut ullamcorper mi in neque. Cras ut wisi eget arcu adipiscing euismod. Sed felis ante, convallis sed, porta at, dapibus eget, wisi. Donec auctor. Proin consequat felis a tortor. Sed velit tellus, volutpat sit amet, eleifend eget, auctor sed, augue.</p>
	<p><a href="${v EXIT:QUERY:next/}">next</a></p>
</r:bv>
