<r:i name="blueprint"/>

<r:bv name="title">More</r:bv>
<r:bv name="content">
	<h3>More</h3>
	<p>Donec dolor elit, vestibulum non, sodales eu, elementum at, urna. Proin ultrices quam vel risus. Sed sed mi. Sed volutpat pede ut felis. Nullam vitae ante nec ante laoreet tempus. Pellentesque iaculis. Ut tincidunt faucibus elit. Maecenas varius. Suspendisse eu sapien. Pellentesque pretium, wisi in semper volutpat, tortor diam pretium diam, ac semper est ante sit amet lectus. Ut eget risus. Aliquam viverra. Donec vestibulum cursus libero. Nam blandit, massa at auctor aliquet, metus purus adipiscing wisi, vitae gravida enim wisi eu wisi. Proin hendrerit varius massa. Donec quis turpis nec diam vestibulum varius. Aliquam facilisis.</p>
	<p><a href="${v EXIT:QUERY:next/}">next</a></p>
</r:bv>
