<r:i name="blueprint"/>

<r:bv name="title">Standalone</r:bv>
<r:bv name="content">
	<h3>Standalone</h3>
	<p>Nullam posuere. Nullam vestibulum odio at tortor. Sed cursus adipiscing purus. Cras sed odio. Nam eu arcu sit amet enim bibendum pellentesque. Vestibulum aliquet ligula in lorem auctor pulvinar. Quisque adipiscing enim vehicula felis. In molestie. Vestibulum pulvinar, orci eu egestas sagittis, tortor dui placerat lorem, sed sollicitudin leo elit eget orci. Mauris eget purus a nibh placerat consequat. Morbi lobortis erat ut arcu. Quisque aliquam ligula non lacus. Nam accumsan pulvinar ipsum. Donec ultricies aliquam mi. Aliquam libero turpis, imperdiet ac, vestibulum id, molestie eu, velit.</p>
	<p><a href="${v EXIT:QUERY:next/}">next</a></p>
</r:bv>
